<link rel="stylesheet" media="screen" href="style.css" type="text/css">
<%= @text %>
<form name="input" action="/" method="post">
<input type="textarea" name="text" value="<%= h @text %>" style="width:80%; "></input>
<input type="submit" value="eval" />
</form>